---
title: '11ty x Bragdocs'
layout: 'layouts/base.njk'
---

<div class="bragdoc__section" id="bragdoc__section">
    <h1 class="bragdoc__header">{{ title }}</h1>
    <div class="bragdoc__container">
        <!-- Profile -->
        <div class="bragdoc__profile">
            <img class="bragdoc__photo" src="{{ '/images/pp.jpeg' | url }}">
            <h1 class="bragdoc__name">{{ data.myname }}</h1>
            <div class="role">{{ data.myrole }}</div>
        </div>
        {% for post in collections.posts | reverse %}
            {% if post.data.public -%}
                {% include 'partials/bragdoc-entry.njk' %}
            {% endif %}
        {% endfor %}
    </div>
    <!-- Footer -->
    <footer>
        <div>
            <a target="_blank" href="https://www.bragdocs.com/">Bragdocs</a> inspired theme built with <a target="_blank" href="https://www.11ty.dev/">11ty</a>
        </div>
        <div>Made with ♥ by <a target="_blank" href="{{ data.mywebsite }}">{{ data.myname }}</a>
        </div>
    </footer>
</div>